.back {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-bg-primary);
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}

.error {
  color: var(--color-status-error);
}

.googleAuthContainer {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.greetingContainer p,
.greetingContainer h2 {
  margin: 0;
}

.greetingContainer h2 {
  margin-bottom: 0.25rem;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.logoContainer h1 {
  margin: 0;
}
