.button {
  width: fit-content;
  height: auto;
  min-height: 2.5rem;
  padding: 0 1rem;
  font-size: 1rem;
  color: var(--color-text-primary);
  transition: color var(--transition-short), background-color var(--transition-short);
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

.button.fullWidth {
  width: 100%;
}

.button:disabled {
  opacity: 0.4;
  filter: brightness(0.8);
  cursor: not-allowed;
  transition: var(--transition-short);
}

.button.default {
  background-color: var(--color-bg-secondary);
}

.button.default:active {
  background-color: var(--color-bg-secondary);
}

.button.primary {
  background-color: var(--color-accent);
}

.button.primary:active {
  background-color: var(--color-accent-active);
}

.button.secondary {
  background-color: var(--color-accent-secondary);
}

.button.secondary:active {
  background-color: var(--color-accent-secondary-active);
}

.button.danger {
  background-color: var(--color-status-error);
}

.button.danger:active {
  background-color: var(--color-status-error-active);
}

.button.success {
  background-color: var(--color-status-success);
}

.button.success:active {
  background-color: var(--color-status-success-active);
}

.button:hover {
  background-color: var(--color-hover);
}
