:root {
  --color-accent: #b8c1ec;
  --color-accent-active: #a8b0d6;
  --color-accent-secondary: #d9c2f1;
  --color-accent-secondary-active: #c3aeda;
  --color-backdrop: rgba(0, 0, 0, 0.5);
  --color-bg-primary: #fafaf9;
  --color-bg-secondary: #ebebeb;
  --color-border: #dde3e9;
  --color-border-active: #9ea2a6;
  --color-hover: #e8ecf6;
  --color-skeleton: #bebebe;
  --color-status-error: #f38ba8;
  --color-status-error-active: #db7e98;
  --color-status-success: #a6e3a1;
  --color-status-success-active: #91c78c;
  --color-status-warning: #f9e2af;
  --color-status-warning-active: #ddc99e;
  --color-text-accent: #ffffff;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #6b6b6b;
  --layout-navbar-height: 4rem;
  --transition-short: 0.2s;
  --size-floatingButton: 4rem;
}

html[data-theme="dark"] {
  --color-accent: #94e2d5;
  --color-accent-active: #79bbb0;
  --color-accent-secondary: #cba6f7;
  --color-accent-secondary-active: #b695df;
  --color-backdrop: rgba(255, 255, 255, 0.5);
  --color-bg-primary: #1e1e2e;
  --color-bg-secondary: #2a2a40;
  --color-border: #313244;
  --color-border-active: #767896;
  --color-hover: #313d3f;
  --color-skeleton: #43434f;
  --color-status-error: #f38ba8;
  --color-status-error-active: #db7e98;
  --color-status-success: #a6e3a1;
  --color-status-success-active: #91c78c;
  --color-status-warning: #f9e2af;
  --color-status-warning-active: #ddc99e;
  --color-text-accent: #ffffff;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a6adc8;
}

/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--color-bg-primary);
  transition: background-color var(--transition-short) ease;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* BASE */
p,
small,
h1,
h2,
h3,
h4,
span,
a {
  color: var(--color-text-primary);
  transition: color var(--transition-short) ease, fill var(--transition-short) ease;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.375rem;
}

svg {
  fill: var(--color-text-primary);
  transition: fill var(--transition-short);
}

/* Animations */

.skeletonPulse {
  animation: skeletonPulse 1.7s ease-in-out infinite;
  background-color: var(--color-skeleton);
}

/* 992px is sm screen size in bootstrap available breakpoints */
@media screen and (max-width: 576px) {
  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  h3 {
    font-size: 1.125rem;
  }
}

/* 992px is lg screen size in bootstrap available breakpoints */
@media screen and (max-width: 992px) {
  main {
    padding-bottom: var(--layout-navbar-height);
  }
}

/* Keyframes */

@keyframes skeletonPulse {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.2);
  }
  100% {
    filter: brightness(1);
  }
}
