.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: var(--layout-navbar-height);
  gap: 1rem;
  width: 100%;
  border: 2px solid var(--color-border);
  bottom: 0;
  background-color: var(--color-bg-primary);
  z-index: 99;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.icon small {
  color: var(--color-text-secondary);
  transition: 0.2s;
}

.icon svg {
  fill: transparent;
  stroke: var(--color-text-secondary);
  stroke-width: 0.1rem;
  transition: 0.2s;
}

.icon.active svg {
  fill: var(--color-text-primary);
  stroke: var(--color-text-primary);
}

.icon.active small {
  color: var(--color-text-primary);
}
